{% extends 'base.html' %}

{% block title %} {{ name }} {% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form  method="post">
                    <div>
                        {% if result %}
                            <h1>{{result}}</h1>
                        {% else %}
                            <h1>Olá {{name}}</h1>
                            <p>
                            <input hidden name='letter' value="{{letter}}">
                            <label for="choice" class="col-md-2">Letra</label>
                            <input type="text" name="choice" id="choice" class="col-md-2">
                            <div>
                                <input type="submit" value="Enviar">
                            </div>
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>
    </div>  
{% endblock %}  
